.main {
  margin: auto;
  min-height: 100vh;
  max-width: 1440px;
  .header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 119px;
    align-items: center;
    padding: 0 120px 0 120px;

    .rightSideHeader {
      display: flex;
      flex-direction: row;
      color: #3d4f5c;

      & > *:not(:last-child) {
        margin-right: 40px;
      }
      .startupsContactButton {
        border: 0;
        background-color: transparent;
        color: #3d4f5c;
        font-family: Circular Std;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 18px; /* 100% */
        letter-spacing: -0.18px;
      }
      .workWithUsButton {
        width: 185px;
        height: 45px;
        flex-shrink: 0;
        border-radius: 32.5px;
        color: #46b8c8;
        border: 1px solid #46b8c8;
        background-color: transparent;
      }
    }
  }

  .seeOurWorks {
    position: relative;
    padding-top: 140px;
    height: 647px;

    .seeOurWorksText {
      position: absolute;
      padding-left: 120px;
      z-index: 10;
      .seeOurWorksTextOne {
        color: #3d4f5c;
        font-family: Circular Std;
        font-size: 85px;
        font-style: normal;
        font-weight: 700;
        line-height: 85px;
        letter-spacing: -1.7px;
        padding-bottom: 25px;
      }
      .seeOurWorksTextTwo {
        color: var(--primary-orange, #fb8958);
        font-family: Circular Std;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: -0.24px;
        padding-bottom: 25px;
      }
      .workWithUsButton {
        width: 157px;
        height: 45px;
        flex-shrink: 0;
        border: 0;
        border-radius: 32.5px;
        background: #46b8c8;
        color: #fff;
        font-family: Circular Std;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 18px;
        letter-spacing: -0.18px;
      }
    }
    .seeOurWorksImage {
      position: absolute;
      right: 0;
      display: block;
    }
  }

  .whoWeAre {
    display: flex;
    flex-direction: column;
    position: relative;
    background: #fbfafa;
    padding: 147px 0 0 120px;
    .whoWeAreText1 {
      color: #3d4f5c;
      font-family: Circular Std;
      font-size: 50px;
      font-style: normal;
      font-weight: 700;
      line-height: 50px;
      letter-spacing: -1px;
    }
    .whoWeAreText2 {
      padding: 32px 0 79px 0;
      color: var(--primary-orange, #fb8958);
      font-family: Circular Std;
      font-size: 24px;
      font-style: normal;
      font-weight: 400;
      line-height: 30px;
    }
    .artworkQuestion {
      position: absolute;
      right: 0;
      margin-right: 159px;
    }
    .whoWeArePoints {
      display: flex;
      flex-direction: row;
      padding-bottom: 157px;
      .whoWeArePoint1 {
        display: flex;
        flex-direction: column;
      }
      .whoWeArePoint2 {
        display: flex;
        flex-direction: column;
      }
      .whoWeArePoint3 {
        display: flex;
        flex-direction: column;
      }
      .whoWeArePointNumber {
        border-bottom: 1px solid #3d4f5c;
        padding-bottom: 19px;
        width: 50px;
        color: var(--primary-orange, #fb8958);
        font-family: Circular Std;
        font-size: 30px;
        font-style: normal;
        font-weight: 700;
        line-height: 30px;
        letter-spacing: -0.3px;
      }
      .whoWeArePointText {
        padding: 26px 95px 0 0;
        color: #3d4f5c;
        font-family: Circular Std;
        font-size: 30px;
        font-style: normal;
        font-weight: 400;
        line-height: 38px; /* 126.667% */
        letter-spacing: -0.3px;
      }
    }
  }
  .solvingProblem {
    display: flex;
    justify-content: center;
    padding: 156px 0 140px 0;
    .solvingProblemText {
      color: var(--primary-orange, #fb8958);
      text-align: center;
      font-family: Circular Std;
      font-size: 40px;
      font-style: normal;
      font-weight: 700;
      line-height: 50px; /* 125% */
      letter-spacing: -0.4px;
      padding: 0 15px 0 15px;
      margin: 19px;
    }
    .solvingProblemRightImage {
      transform: scaleX(-1);
    }
  }
  .ourCoreValuesText {
    color: #3d4f5c;
    font-family: Circular Std;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: -1px;
    padding-bottom: 117px;
  }
}
.ourWorks {
  padding: 0 120px 0 120px;
  .ourWorksText {
    display: flex;
    justify-content: center;
    color: #3d4f5c;
    font-family: Circular Std;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: 50px; /* 100% */
    letter-spacing: -0.5px;
    padding: 140px 0 55px 0;
  }
  .ourWorksGrid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    .ourWork {
      width: 588px;
      height: 554px;
      display: flex;
      flex-direction: column;
      border-radius: 30px;
      background: #fff;
      box-shadow: 0px 8px 35px 0px rgba(187, 169, 142, 0.15);
      margin-bottom: 25px;
      &:nth-child(1) {
        margin-right: 24px;
      }
      &:nth-child(3) {
        margin-right: 24px;
      }
      .ourWorkTitle1 {
        color: #a9bc87;
        text-align: center;
        font-family: Circular Std;
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: 30px; /* 93.75% */
        letter-spacing: -0.32px;
        padding: 15px 0 25px 0;
      }
      .ourWorkTitle2 {
        color: #8bb5c9;
        text-align: center;
        font-family: Circular Std;
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: 30px; /* 93.75% */
        letter-spacing: -0.32px;
        padding: 15px 0 25px 0;
      }
      .ourWorkTitle3 {
        color: #00a0b6;
        text-align: center;
        font-family: Circular Std;
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: 30px; /* 93.75% */
        letter-spacing: -0.32px;
        padding: 15px 0 25px 0;
      }
      .ourWorkTitle4 {
        color: #8b60d3;
        text-align: center;
        font-family: Circular Std;
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: 30px; /* 93.75% */
        letter-spacing: -0.32px;
        padding: 15px 0 25px 0;
      }
      .ourWorkText {
        color: #3d4f5c;
        text-align: center;
        font-family: Circular Std;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px; /* 125% */
        letter-spacing: -0.16px;
      }
      .macbookMockup {
        margin: auto;
      }
      .ourWorksButton {
        text-align: center;
        margin: auto;
        display: block;
        width: 185px;
        height: 45px;
        flex-shrink: 0;
        border-radius: 32.5px;
        color: #46b8c8;
        width: 107px;
        height: 45px;
        border: 1px solid #46b8c8;
        background-color: transparent;
        margin-bottom: 50px;
      }
    }
  }
}
.solvingProblemWidget {
  margin: 34px 0 40px 0;
  .solvingProblemImage {
    margin: auto 0 auto 0;
  }
  .solvingProblemImageRight {
    margin: auto 0 auto 0;
    transform: scaleX(-1);
  }
}
.weAreHiring {
  position: relative;
  background: #fbfafa;
  .weAreHiringImageLeft {
    position: absolute;
    top: 100px;
  }
  .weAreHiringImageRight {
    position: absolute;
    right: 0;
    top: 110px;
  }
  .weAreHiringMiddle {
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
    z-index: 10;
    .weAreHiringTittle {
      color: #3d4f5c;
      text-align: center;
      font-family: Circular Std;
      font-size: 50px;
      font-style: normal;
      font-weight: 700;
      line-height: 50px; /* 100% */
      letter-spacing: -1px;
      padding-top: 140px;
    }
    .weAreHiringText {
      color: var(--primary-orange, #fb8958);
      text-align: center;
      font-family: Circular Std;
      font-size: 24px;
      font-style: normal;
      font-weight: 400;
      line-height: 30px; /* 125% */
      letter-spacing: -0.24px;
      padding: 30px 0 30px 0;
    }
    .weAreHiringButton {
      width: 243px;
      height: 45px;
      flex-shrink: 0;
      border: 0;
      border-radius: 32.5px;
      background: #46b8c8;
      color: #fff;
      font-family: Circular Std;
      font-size: 18px;
      font-style: normal;
      font-weight: 700;
      line-height: 18px;
      letter-spacing: -0.18px;
      margin: 0 auto 165px auto;
    }
  }
}
.areYouReady {
  background: var(--secondary-yellow, #ffc351);
  padding: 60px 0 70px 124px;
  height: 933px;

  .areYouReadyTitle {
    color: #fff;
    font-family: Circular Std;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: 55px; /* 91.667% */
    letter-spacing: -1.2px;
  }
  .areYouReadyText {
    color: #fff;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 100% */
    letter-spacing: -0.24px;
    margin: 34px 0 34px 0;
  }
  .areYouReadyMessageCard {
    position: absolute;
    padding: 72px 42px 40px 42px;
    display: flex;
    flex-direction: column;
    width: 512px;
    border-radius: 10px;
    background: #f3f3f3;
    box-shadow: 0px 8px 35px 0px rgba(187, 169, 142, 0.15);
    z-index: 10;
    .areYouReadyMessageCardInputName {
      border-radius: 10px;
      background: #fff;
      box-shadow: 0px 8px 35px 0px rgba(187, 169, 142, 0.15);
      border: 0;
      width: 429px;
      height: 54px;
      padding: 18px 16px;
      margin-bottom: 10px;
      &:focus {
        outline: none;
      }
    }
    .areYouReadyMessageCardInputEmail {
      border-radius: 10px;
      background: #fff;
      box-shadow: 0px 8px 35px 0px rgba(187, 169, 142, 0.15);
      border: 0;
      width: 429px;
      height: 54px;
      padding: 18px 16px;
      margin-bottom: 10px;
      &:focus {
        outline: none;
      }
    }
    .areYouReadyMessageCardInputMessage {
      border-radius: 10px;
      background: #fff;
      box-shadow: 0px 8px 35px 0px rgba(187, 169, 142, 0.15);
      border: 0;
      width: 429px;
      height: 270px;
      padding: 18px 16px;
      margin-bottom: 34px;
      resize: none;
      &:focus {
        outline: none;
      }
    }
    .areYouReadyMessageCardButton {
      width: 243px;
      height: 45px;
      border-radius: 32.5px;
      border: 1px solid #3d4f5c;
      background: #3d4f5c;
      color: #fbfbfa;
      text-align: center;
      font-family: Circular Std;
      font-size: 18px;
      font-style: normal;
      font-weight: 700;
      line-height: 18px; /* 100% */
      margin: 0 auto 0 auto;
    }
  }
  .areYouReadyImageRocket {
    position: absolute;
    right: 111px;
    bottom: 0;
  }
  position: relative;
}
.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 90px 136px 120px 120px;
  .footerLogo {
    display: flex;
    flex-direction: column;
    .companyLogoFooter {
      margin-bottom: 84px;
    }
    .footerText {
      color: #939393;
      font-family: Circular Std;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 30px; /* 166.667% */
    }
  }
  .footerTitle {
    color: #3d4f5c;
    font-family: Circular Std;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 100% */
    padding: 10px 0 19px 0;
  }
  .footerCompany {
    display: flex;
    flex-direction: column;
    .footerCompanyItems {
      color: var(--complementary-green, #46b8c8);
      font-family: Circular Std;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 35px; /* 194.444% */
    }
  }
  .footerCotact {
    display: flex;
    flex-direction: column;
    .footerCotactText {
      color: #939393;
      font-family: Circular Std;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px; /* 133.333% */
      padding-bottom: 11px;
    }
    .footerCotactButton {
      color: var(--complementary-green, #46b8c8);
      font-family: Circular Std;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 30px; /* 166.667% */
    }
  }
  .footerFollowUs {
    display: flex;
    flex-direction: column;
    .footerFollowUsIcon:not(:last-child) {
      margin-bottom: 15px;
    }
  }
}

@media (max-width: 701px) {
  .main {
    .header {
      padding: 0 10px 0 10px;
      flex-direction: column;
    }
    .whoWeAre {
      padding: 90px 0 0 25px;
      .artworkQuestion {
        display: none;
      }
      .whoWeArePoints .whoWeArePointText {
        padding: 26px 6px 0 0;
      }
    }
    .seeOurWorks {
      .seeOurWorksText {
        padding-left: 25px;
      }
      .seeOurWorksImage {
        display: none;
      }
    }
    .ourWorks {
      padding: 0 25px 0 25px;
      .ourWorksGrid {
        flex-direction: column;
        align-items: center;
        .ourWork {
          width: 100%;
          .macbookMockup {
            width: 100%;
          }
          &:nth-child(1) {
            margin-right: 0;
          }
          &:nth-child(3) {
            margin-right: 0;
          }
        }
      }
    }
    .weAreHiring {
      .weAreHiringImageLeft {
        display: none;
      }

      .weAreHiringImageRight {
        display: none;
      }
      .weAreHiringMiddle {
        .weAreHiringText {
          padding: 0 5px 30px 5px;
        }
      }
    }

    .areYouReady {
      text-align: center;

      padding: 60px 0 70px 0;
      .areYouReadyMessageCard {
        width: 100%;
        .areYouReadyMessageCardInputName {
          width: 100%;
        }
        .areYouReadyMessageCardInputEmail {
          width: 100%;
        }
        .areYouReadyMessageCardInputMessage {
          width: 100%;
        }
      }
      .areYouReadyCard {
        display: flex;
        justify-content: center;
      }
      .areYouReadyImageRocket {
        display: none;
      }
    }
    .footer {
      flex-direction: column;
      padding: 90px 25px 120px 25px;

      & > *:not(:last-child) {
        border-bottom: 5px solid #fbfafa;
        width: 100%;
      }
    }
  }
}

@media screen and (min-width: 702px) and (max-width: 1120px) {
  .main {
    .header {
      padding: 0 10px 0 10px;
    }
    .whoWeAre {
      padding: 90px 0 0 25px;
      .artworkQuestion {
        top: 65px;
        margin-right: 259px;
      }
      .whoWeArePoints .whoWeArePointText {
        padding: 26px 6px 0 0;
      }
    }
    .seeOurWorks {
      .seeOurWorksText {
        padding-left: 25px;
      }
      .seeOurWorksImage {
        display: none;
      }
    }
    .ourWorks {
      padding: 0 25px 0 25px;
      .ourWorksGrid {
        flex-direction: column;
        align-items: center;
        .ourWork {
          &:nth-child(1) {
            margin-right: 0;
          }
          &:nth-child(3) {
            margin-right: 0;
          }
        }
      }
    }
    .areYouReady {
      text-align: center;

      padding: 60px 0 70px 0;

      .areYouReadyCard {
        display: flex;
        justify-content: center;
      }
      .areYouReadyImageRocket {
        display: none;
      }
    }
    .footer {
      padding: 90px 25px 120px 25px;
    }
  }
}
@media screen and (min-width: 1121px) and (max-width: 1441px) {
  .ourWorks {
    .ourWorksGrid {
      flex-direction: column;
      align-items: center;
      .ourWork {
        &:nth-child(1) {
          margin-right: 0;
        }
        &:nth-child(3) {
          margin-right: 0;
        }
      }
    }
  }
}
